.App {
  height: 100%;
  width: 100vw;
  scroll-snap-type: x mandatory;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  overflow-y: hidden;
}
.App__year {
  position: relative;
  scroll-snap-align: start;
  background-color: var(--winter-color);
  height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #efefef;
}
.App__yearText {
  position: absolute;
  top: calc(50% - 21px);
  left: 0;
  width: 100vw;
  font-size: 42px;
  text-align: center;
  line-height: 42px;
  z-index: 1;
  font-family: "Tillana", cursive;
  color: #ffffff;
  text-shadow: 0px 3px black;
}
.App__yearText::before, .App__yearText::after {
  display: block;
  position: absolute;
  font-size: 22px;
  font-family: 'Gantari';
}
.App__yearText::before {
  content: 'Vetur';
  right: calc(50% + 60px);
  bottom: 16px;
}
.App__yearText::after {
  content: 'Sumar';
  left: calc(50% + 60px);
  top: 16px;
}
