.App {
  display: flex;
  flex-direction: row;
  font-family: 'helvetica';
  font-weight: bold;
}
.App__year {
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App__seperator {
  display: flex;
  justify-content: space-between;
  height: 45px;
  width: 100%;
  background-image: linear-gradient(to bottom right, #433f6a 50%, #ecd098 0%);
}
.App__seperator--odd {
  background-image: linear-gradient(to bottom left, #433f6a 50%, #ecd098 0%);
  flex-direction: row-reverse;
}
.App__seperatorTitle {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.App__seperatorTitle--winter {
  color: #ecd098;
}

.App__seperatorTitle--summer {
  color: #433f6a;
}
