@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: "Gantari", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  position: absolute;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --winter-color: #264653;
  --summer-color: #E76F51;
  --red-team-color: #d62828;
}
