body {
  margin: 0;
  padding: 0;
  font-family: "Gantari", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --winter-color: #264653;
  --summer-color: #ecd098;
  --red-team-color: #d62828;
}
